<div class="form-container">
    <br>
    <form class="example-form" [formGroup]="renewPasswordForm">
        <h1> Cambiar contraseña </h1>
        <hr>
        <p>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput placeholder="Ingresa tu nombre" name="username"
                formControlName="username">
            </mat-form-field>
        </p>


        <p>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Ingresa tu contraseña" value="" name="password" type="password" formControlName="password">
            </mat-form-field>
        </p>
        <div *ngIf="renewPasswordForm?.get('password')?.hasError('pattern')" class="error-message">
            La contraseña debe tener al menos 8 caracteres, incluyendo al menos una letra mayúscula, una letra minúscula y un número.
        </div>

        <p>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ingresa nuevamente tu contraseña</mat-label>
                <input matInput placeholder="Re enter your password" value="" name="passwordVerification" type="password" formControlName="passwordVerification">
            </mat-form-field>
        </p>

        <div *ngIf="renewPasswordForm?.get('passwordVerification')?.hasError('passwordMismatch')" class="error-message">
            Las contraseñas no coinciden.
          </div>

        <p>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Security Answer</mat-label>
                <input matInput placeholder="Enter your security answer" name="security_answer"
                formControlName="security_answer">
            </mat-form-field>
        </p>
        
        <button mat-stroked-button color="primary" (click)="submit()" class="submit">Cambiar</button>
        
    </form>
</div>
