
<div class="container-principal">
    <div class="container d-flex align-items-center justify-content-center">
      <div class="container-sm align-items-center justify-content-center">
        <h2> Todas las reservaciones</h2>
        <div *ngIf="all_reservations_flag">
          <table mat-table [dataSource]="all_reservations" class="mat-elevation-z8">

              <!-- Reservation Id Column -->
              <ng-container matColumnDef="Reservation_ID">
                <th mat-header-cell *matHeaderCellDef> Id de reservación </th>
                <td mat-cell *matCellDef="let element"> {{element.Reservation_ID}} </td>
              </ng-container>
            
              <!-- User Id Column -->
              <ng-container matColumnDef="User_ID">
                <th mat-header-cell *matHeaderCellDef> Id de usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.User_ID}} </td>
              </ng-container>
            
              <!-- Number of people Column -->
              <ng-container matColumnDef="Number_Of_People">
                <th mat-header-cell *matHeaderCellDef> Espacios </th>
                <td mat-cell *matCellDef="let element"> {{element.Number_Of_People}} </td>
              </ng-container>
            
              <!-- Date reserved Column -->
              <ng-container matColumnDef="Date_Reserved">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.Date_Reserved}} </td>
              </ng-container>

              <!-- Start time Column -->
              <ng-container matColumnDef="Start_Time">
                  <th mat-header-cell *matHeaderCellDef> Hora entrada </th>
                  <td mat-cell *matCellDef="let element"> {{element.Start_Time}} </td>
                </ng-container>

                <!-- End time Column -->
              <ng-container matColumnDef="End_Time">
                  <th mat-header-cell *matHeaderCellDef> Hora salida </th>
                  <td mat-cell *matCellDef="let element"> {{element.End_Time}} </td>
                </ng-container>

                 <!-- Edit Button -->
              <ng-container matColumnDef="Edit_Reservation">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-icon-button [disabled]="isStartDatePast(element.Start_Time)" (click)="editItem(element.Reservation_ID)">
                    <mat-icon>edit</mat-icon>
                  </button>  
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumnsWithEdition"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsWithEdition;"></tr>
            </table>
      </div>
      <div class="goBack" style="margin: auto;">
      <button type="button" class="btn btn-outline-light mb-3" routerLink="/admin/admin-menu" >Volver</button>
    </div>
      </div>
    </div>
    
</div>